<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <!-- <div class="navbar-brand">
    <a class="navbar-item" routerLink = "">
        <img [src]="logo" style="width: 35px" alt = "logo image">
    </a>
  </div> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/gallery">Image Gallery</a>
      </li>
      <li class="nav-item">
      <div class="d-inline-block" ngbDropdown>
        <a class="nav-link" id="dropdown01" ngbDropdownToggle>Category</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Landsacape</a>
          <a class="dropdown-item" href="#">Portrait</a>
		    </div>
      </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <!-- <a class="nav-item"  (click)="openFormModal()" style="cursor: pointer;">SignIn/SignUp</a> -->
    <button type="button" class="btn btn-primary buttnClr" (click)="openFormModal()">SignIn/SignUp</button>
      <!-- <ul class="nav navbar-nav navbar-rigth">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul> -->
  </div>
</nav>

