/* .navbar-inverse{
	background-color: #34495E;
} */

/*.navbar-nav{
	float:left;
	margin:0;
}

.nav{
	padding-left:0;
	list-style: none
}

.navbar-right{
	float:right!important;
	margin-right:-15px;
}
.container{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}*/
.buttnClr{
	background-color: steelblue;
}
