/* .image{
    height:40em; background-size:cover; width:auto;
    background-image:url('assets/images/cam1.jpg');
    background-position:50% 50%; 
  } */
  ._root-container{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 0.5fr auto;
	position: relative;
  }